rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Website Content Management (hero, about, offers, contacts)
    match /content/{document=**} {
      allow read, write: if true;
    }

    // Services Collection
    match /services/{document=**} {
      allow read, write: if true;
    }

    // Portfolio Collection
    match /portfolio/{document=**} {
      allow read, write: if true;
    }

    // Client Inquiries Messages
    match /messages/{document=**} {
      allow read, write: if true;
    }

    // Admins metadata collection
    match /admins/{document=**} {
      allow read, write: if true;
    }
  }
}

